@import "partials/variables";
@import "partials/header";
@import "partials/footer";
@import "partials/general";
@import "partials/utilities";
@import "partials/cards";
@import "partials/comic";
// reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PT Sans Narrow", sans-serif;
}
main {
    background-color: $main-color;
    color: white;
}
