header {
  display: flex;
  height: 100px;
}
header img {
  padding: 5px 0px;
  margin-right: 30px;
}
header ul {
  display: flex;
  list-style: none;
  line-height: 97px;
}
header ul li {
  margin: 0px 20px;
}
header ul li a {
  text-decoration: none;
  color: #6d534e;
  font-weight: 700;
  font-size: 17px;
  letter-spacing: 1px;
}
header ul li.active {
  border-bottom: 3px solid #0182f9;
}
header ul li.active a {
  color: #0182f9;
}

footer {
  background-color: #303030;
}
footer section {
  display: flex;
  justify-content: space-between;
  padding: 23px 0px;
}
footer section button {
  border: 3px solid #0182f9;
  font-size: 20px;
  padding: 5px;
  color: white;
  background-color: transparent;
}
footer section .socials {
  display: flex;
  align-items: center;
  width: 30%;
}
footer section .socials h3 {
  margin: 0px 10px;
  color: #0182f9;
  font-size: 25px;
}
footer section .socials img {
  margin: 0px 10px;
}

button {
  cursor: pointer;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  text-align: center;
}
.cards .card {
  width: 15%;
  padding: 5px;
  margin-bottom: 15px;
  font-size: 20px;
  letter-spacing: 1px;
}
.cards .card img {
  width: 100%;
}

button.load-more {
  background-color: #0182f9;
  font-size: 15px;
  font-weight: bold;
  color: white;
  padding: 7px 50px;
  border: none;
}

.blue-bar {
  height: 30px;
  margin-top: 30px;
  background-color: #0182f9;
}

.comic-details .hero {
  height: 300px;
  background-image: url("../images/jumbotron.jpg");
  background-size: cover;
}
.comic-details .hero img {
  position: relative;
  top: 100px;
  border: 1px solid White;
}
.comic-details .info {
  background-color: white;
  color: black;
  padding: 150px 0px;
}
.comic-details .info .container {
  display: flex;
}
.comic-details .info .container .left h2 {
  color: #103e5e;
}
.comic-details .info .container .left .price-availability {
  color: white;
  background-color: #55ba58;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  border-radius: 5px;
  margin: 30px 0px;
  padding: 0px 20px;
}
.comic-details .info .container .left .price-availability .price {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.comic-details .info .container .left .price-availability .price .color-g {
  color: #95f593;
}
.comic-details .info .container .left .price-availability .availability {
  height: 100%;
  line-height: 50px;
  padding: 0px 10px;
  border-left: 2px solid darkgreen;
}
.comic-details .info .container .left .description {
  font-size: 18px;
  line-height: 25px;
  color: #948b86;
}
.comic-details .blue-bar {
  margin: 0;
}
.comic-details .blue-bar-big {
  margin: 0;
  height: 100px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans Narrow", sans-serif;
}

main {
  background-color: #1c1c1c;
  color: white;
}